:root {
  --main-black: #000000;
  --main-gray: #929292;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
html,
body,
div,
span,
iframe,
object,
embed,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
a,
address,
b,
del,
p,
pre,
em,
i,
s,
strong,
sub,
sup,
u,
img,
map,
area,
form,
fieldset,
legend,
input,
textarea,
select,
button,
label,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td,
article,
aside,
audio,
canvas,
datalist,
details,
dialog,
figcaption,
figure,
footer,
header,
main,
mark,
menu,
menuitem,
nav,
output,
progress,
section,
summary,
hr {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 16px;
  font-weight: 400;
  color: #000; /*
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
pre,
input,
button,
select,
textarea {
  font: inherit;
}
input,
button,
select,
textarea {
  color: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
select,
label,
img,
button {
  vertical-align: middle;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
}
fieldset {
  border: 0;
  min-width: 0;
  width: 100%;
}
ul,
ul li,
ol,
ol li {
  list-style: none;
}
a,
button,
label {
  cursor: pointer;
}
button {
  background: transparent;
  border: 0;
}
textarea {
  resize: none;
}
i,
em,
address {
  font-style: normal;
}
a {
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}
a[href] {
  color: inherit;
  -webkit-tap-highlight-color: inherit;
}
